*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Otomanopee One', sans-serif;
}
body {
    background: rgb(233, 226, 226);
}
.header {
    background: #315fa8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #18202d;
    height: 16vh;
    /* margin-bottom: 1rem;  */
}
.logo {
    margin: 10px 5rem 10px 0px;
    width: 12wh;
    height: 12vh;
    border-radius: 50%;
    border: 1px solid black;
}
.name {
    color: white !important;
    font-size: 36px; 
    padding-right: 4rem;
}
.name:hover {
    color: #dfdada !important; 
}
.nav-div {
    color: white !important;
    font-size: 16px;
    margin: 0 20px; 
}
.nav-div:hover {
    color: #dfdada !important; 
}
.header-text {
    margin: 0 6rem;
    float: right;
}
.img-min {
    width: 3wh;
    height: 3vh; 
}
.imgPrincipal {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    border-bottom: 2px solid #18202d; 
}
.text {
    color: #18202d;
    padding: 25px;
    margin: 2rem 5rem;
    border-radius: 1%;
    background: rgb(224, 222, 222);
    border: 1px solid #999; 
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin-top: 0px;
    padding: 0px;
    color: #18202d; 
}
.imgPortada {
    height: 70vh;
    border-radius: 3%;
    border: 2px solid #333;
}
.text-img {
    display: flex;
}
.text-p {
    text-align: start;
    padding: 6px 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.resaltador {
    color: #777;
    font-family: cursive;
}
.resaltador:hover {
    color: #3e1e4e;
    font-family: cursive;
}
.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 9rem; 
}
.centrado {
    display: block;
    text-align: center;
}
.btnColor {
    color: #dfdada;
    padding: 5px;
    background: rgb(68, 110, 68);
}
.colors {
    padding: 1px;
    color: #18202d;
}
.irPage {
    color: #315fa8;
    margin: auto;
    text-decoration: none;
}
.arreglo {
    margin: 0 1rem;
    padding: 0px;
    border-radius: 2%;
    border: 1px solid #000;
}
.wsp {
    padding: 15px;
    color: green;
    font-size: 80px;
}
.wsp:hover {
    color: #18202d; 
}
.card-pez {
    height: 25vh;
    border-bottom: 1px solid #000;
}
.container-carrito {
    margin: 2rem auto;
    width: 90%;
}
.title-producto {
    color: #000;
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.brr {
    background:#504e4e;
    color: white;
    border: 1px solid #333;
    font-size: 13px;
    border-radius: 15%;
    padding: 0 20px;
    margin-top: 4px auto;
}
.end {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    font-family:Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background: rgb(60, 94, 60);
    border-radius: 10%;
    border: 1px solid #333;
}
.theend{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8px;
  
}
.unanime {
    display: block;
    margin: 1rem;
    padding: 8px;
    color: #fff;
    background:#222;
    border-radius: 5%;
}
.exito {
    display: flex;
    opacity: .5;
    width: 100%;
    height: 20vh;
    background: rgb(141, 238, 128);
    border: 1px solid #333;
}
h1 {
    margin: auto;
    padding: 20px;
    color: #000;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer {
    background: #504e4e; 
}
.div-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.div-red {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}
.dato {
    text-align: center;
    color: white; 
}
.div-red:hover{
    color: #dfdada; 
}
.title-footer {
    margin: 2rem 0px;
    color: white;
    font-size: 18px;
    text-align: justify;

}
.add {
    margin-left: 70px;
}
.title-footer:hover{
    color: #dfdada;
}
.credito-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.creditos {
    width: 5wh;
    height: 5vh;
    margin: 5px 25px;
    border-radius: 3%; 
    border: 1px solid #000;
}
.tapar {
    display: none;
}