* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  /* UTILIDADES */
  main .text {
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.2rem; }
  
  main .principal .colors h5 {
    font-size: 30px;
    font-family: Arial, Helvetica;
    text-transform: uppercase; }
  
  /* mixin like a pro: contiene hover */
  /* bucle */
  .frase {
    color: #169200;
    font-weight: bold; }
  
  .frase {
    color: #c75b1c;
    font-weight: bold; }
  
  .frase {
    color: #1c54d6;
    font-weight: bold; }
  
  /* SECCIONES */
  .header {
    background: #315fa8;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    border-bottom: 2px solid #18202d; }
    .header .logo {
      margin: 10px 4rem;
      width: 12wh;
      height: 12vh;
      border-radius: 50%;
      border: 1px solid black; }
    .header .name {
      color: white !important;
      font-size: 36px; }
      .header .name:hover {
        color: #dfdada !important; }
    .header .nav-menu {
      display: none; }
    .header .nav-div {
      color: white !important;
      font-size: 16px;
      margin: 0 20px; }
      .header .nav-div:hover {
        color: #dfdada !important; }
    /* .header .carro {
      background: none;
      border: none;
      color: #18202d;
      padding: 3px;
      width: 7wh;
      height: 7vh; } */
  
  .img-min {
    width: 3wh;
    height: 3vh; }
  
  main .imgPrincipal {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    border-bottom: 2px solid #18202d; }
  
  main .text {
    color: #18202d;
    padding: 50px;
    margin: 1rem 10rem;
    border: 1px solid #dfdada; }
    main .text .titulo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      margin-top: 0px;
      padding: 0px;
      color: #18202d; }
  
  main .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 9rem; }
    main .principal .colors {
      padding: 1px;
      color: #18202d;
    }
  .irPage {
    color: #315fa8;
    margin: auto;
    text-decoration: none;
  }
  .wsp {
    color: green;
    font-size: 80px; }
    .wsp:hover {
      color: #18202d; }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    background: #504e4e; }
    footer .date .dato {
      color: white; }
      footer .date .dato:hover {
        color: #dfdada; }
    footer .pagos .creditos {
      width: 8wh;
      height: 8vh;
      margin: 0px 15px;
      padding: 5px 5px;
      border-radius: 3%; }
  
  /***** 768px ********/
  @media (max-width: 768px) {
    .header {
      background: #315fa8;
      border-bottom: 2px solid #18202d; }
      .header .logo {
        margin: 20px;
        width: 12wh;
        height: 12vh;
        border-radius: 50%;
        border: 1px solid black; }
      .header .name {
        color: white !important;
        font-size: 36px;
        text-align: center; }
        .header .name:hover {
          color: #dfdada !important; }
      .header .menuBurger {
        background: none;
        color: #18202d !important;
        border: 1px solid #18202d;
        width: 6wh;
        height: 6vh; }
      .header .nav-div {
        color: white !important;
        font-size: 16px;
        margin: 0 10px; }
        .header .nav-div:hover {
          color: #dfdada !important; }
    .img-min {
      margin: 0px 5px;
      width: 3wh;
      height: 3vh; }
    .wsp {
      color: green;
      font-size: 80px; }
      .wsp:hover {
        color: #18202d; }
    main .imgPrincipal {
      margin: 0px auto;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 60vh;
      border-bottom: 2px solid #18202d; }
    main .text {
      overflow: scroll;
      color: #18202d;
      font-size: 22px;
      padding: 20px;
      margin: 1rem 6rem;
      height: 30vh;
      border: 1px solid #dfdada; }
    main .principal {
      margin: 3rem auto;
      width: 70%;
      height: 10%; }
      main .principal .agrandar {
        transition: all 100ms;
        position: relative; }
        main .principal .agrandar:hover {
          transform: scale(1.15);
          z-index: 1; }
      main .principal .colors {
        background: #dfdada;
        color: #18202d; } }
  
  /****** 425 ********/
  @media (max-width: 425px) {
    main .imgPrincipal {
      margin: 0px auto;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 60vh;
      border-bottom: 2px solid #18202d; }
    main .text {
      overflow: scroll;
      color: #18202d;
      font-size: 22px;
      margin: 5px 0;
      padding: 20px;
      width: 100%;
      height: 30vh;
      border: 1px solid #dfdada; }
    main .principal {
      display: block;
      align-items: center;
      margin: 3rem auto;
      width: 70%;
      height: 10%; }
      main .principal .agrandar:hover {
        transform: scale(1.15);
        z-index: 1; }
      main .principal .colors {
        background: #dfdada;
        color: #18202d; }
    .wsp {
      color: green;
      font-size: 50px; }
      .wsp:hover {
        color: #18202d; }
    footer {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 30vh;
      background: #504e4e; }
      footer .pagos {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px; }
        footer .pagos .creditos {
          width: 6wh;
          height: 6vh;
          margin: 0px 15px;
          border-radius: 3%; }
      footer .date {
        margin-top: 5px; }
        footer .date .dato {
          color: white; }
          footer .date .dato:hover {
            color: #dfdada; } }
  
  /****** 375px *******/
  @media (max-width: 375px) {
    .header {
      background: #315fa8;
      border-bottom: 2px solid #18202d; }
      .header .logo {
        margin: 5px;
        width: 5wh;
        height: 10vh;
        border-radius: 50%;
        border: 1px solid black; }
      .header .name {
        color: white !important;
        font-size: 25px;
        text-align: center; }
        .header .name:hover {
          color: #dfdada !important; }
      .header .menuBurger {
        background: none;
        color: #18202d !important;
        border: 1px solid #18202d;
        width: 6wh;
        height: 6vh; }
      .header .nav-div {
        color: white !important;
        font-size: 16px;
        margin: 0 20px; }
        .header .nav-div:hover {
          color: #dfdada !important; }
    .wsp {
      color: green;
      font-size: 50px; }
      .wsp:hover {
        color: #18202d; }
    main .text {
      overflow: scroll;
      color: #18202d;
      font-size: 22px;
      margin: 5px 0;
      padding: 20px;
      width: 100%;
      height: 30vh;
      border: 1px solid #dfdada; }
    main .principal {
      display: block;
      align-items: center;
      width: 100%;
      height: 10%; }
      main .principal .agrandar:hover {
        transform: scale(1.15);
        z-index: 1; }
      main .principal .colors {
        overflow: scroll;
        background: #dfdada;
        color: #18202d; } }
  
  /****** Alimentos / Accesorios ********/
  .principal .div-al {
    display: flex; }
    .principal .div-al .carr-al {
      margin-top: -10px;
      margin-right: 5px;
      float: right;
      background: none;
      border: none;
      color: #18202d;
      width: 8wh;
      height: 8vh; }
  
  /******* peces ********/
  .separacion {
    margin: 1rem 7rem; }
    .separacion .card-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      margin-top: 0px;
      padding: 0px;
      color: #18202d; }
    .separacion .img-full {
      height: 70vh !important; }
    .separacion .sep-in {
      padding: 1rem; }
      .separacion .sep-in .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        margin-top: 0px;
        padding: 0px;
        color: #18202d; }
    .separacion .carr-al {
      margin-top: -10px;
      margin-right: 5px;
      float: right;
      background: none;
      border: none;
      color: #18202d;
      width: 8wh;
      height: 8vh; }
  
  .card-text {
    padding: 0px 2rem; }
  
  /********** 425px **********/
  @media (max-width: 425px) {
    .separacion {
      margin: 1rem 0; }
      .separacion .card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        margin-top: 0px;
        padding: 0px;
        color: #18202d; }
      .separacion .img-full {
        height: 70vh !important; }
      .separacion .sep-in {
        padding: 1rem; }
        .separacion .sep-in .card-title {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 36px;
          margin-top: 0px;
          padding: 0px;
          color: #18202d; }
      .separacion .carr-al {
        margin-top: -10px;
        margin-right: 5px;
        float: right;
        background: none;
        border: none;
        color: #18202d;
        width: 8wh;
        height: 8vh; }
    .card-text {
      padding: 0px 2rem; } }
  
  /******* peceras ************/
  h1 {
    text-align: center !important;
    color: #18202d !important; }
  
  .promos .tm-img-prom {
    height: 100vh !important; }
  
  .promos .text-img {
    background: #dfdada;
    font-size: 22px;
    color: white; }
  
  .promos .carr-al {
    margin-top: -10px;
    margin-right: 5px;
    float: right;
    background: none;
    border: none;
    color: #18202d;
    width: 8wh;
    height: 8vh; }

/****** empezando el proyecto nuevo *******/

*{
  font-family: 'Otomanopee One', sans-serif;
}
header h1{
  letter-spacing: 6px;
  font-family: 'Otomanopee One', sans-serif;
  text-shadow: 2px 2px 2px #ccc;
}
header h1{
  display: block;
  text-align: center;
}
#productos{
  height: 300px;
  
}

#carrito > table > thead > tr > th{
  background-color: #444;
  color: blanchedalmond;
}


.container .table{
  height: 100px;
  width: 100%;
  border-spacing: 5px;
  text-align: center;
  
}

.container .table tr th {
  border: 1px solid #ccc;
}
#cards{
  display: flex;
  justify-content: space-around;
  
}

#items > tr > td{
  border: 1px solid #ccc;
}

.card{
  width: 150px;
  height: 260px;
 margin: 20px;
 margin-top: 0px;
 padding-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #ccc;
  overflow: hidden;
}
#imagen{
  width: 100%;
  height: 50%;
  
}
#imagen img{
  width: 100%;
  height: 100%;
  
}

#cards > div > div > div > button{
  background-color: #555;
  border-radius: 2px;
  color: blanchedalmond;
  
}
#cards > div > div > div > h5 {
  font-size: 22px;
  margin-top: 11px;
  margin-bottom: 13px;
}

#cards > div > div > div.card-body > p{
  color: darkblue;
  font-size: 18px;
}
